/* with this image gets centered horizontally */
.jumbotron-padding-bottom-fix {
	padding-bottom: 80px;
}

/* display pointer in table row */
.table-hover tbody tr:hover > td {
	cursor: pointer
}

.table-title {
	text-align: center
}

/* center participant details */

.participant-details-container {
	width: 600px;
	margin: auto;
	padding-left: 200px;
}