<div class="jumbotron jumbotron-padding-bottom-fix">
  <br />
  <p class="lead">
    <img src="images/angularjs-unit-tested.png" alt="AngularJS"><br>
  </p>
</div>

<div class="row marketing">
  <h4>AngularJS
    <span ng-class='{"message-hide":!showMessage}' class="message-display-initial">
      is awesome!
    </span>
  </h4>
  <blockquote>
    AngularJS is a toolset for building the framework most suited to your application development.
  </blockquote>

  <h4>Karma</h4>
  <blockquote>
    Spectacular Test Runner for JavaScript.
  </blockquote>

  <h4>Jasmine</h4>
  <blockquote>
    Jasmine is a behavior-driven development framework for testing JavaScript code.
  </blockquote>
</div>

